@import 'theme-light';

body {
  font-family: Andale Mono, Sudo, Hack, monospace;
  font-size: 0.8em;
  background-color: $bgcolor;
  color: $fgcolor;
}

a {
  color: $link_color;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

ul li {
  margin-bottom: 0.5em;
}

code {
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #444;
}

main.page-content {
  div.wrapper {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 40px;
  }
}

