@import 'fonts';
@import 'theme-dark';

body {
  font-family: 'Fira Mono', Andale Mono, Sudo, Hack, monospace;
  font-size: 0.8em;
  background-color: $bg;
  color: $fg;
}

a {
  color: $link_fg;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

ul li {
  margin-bottom: 0.5em;
}

code {
  padding: 2px 4px;
  border-radius: 2px;
  background-color: $code_bg;
  color: $code_fg;
}

main.page-content {
  div.wrapper {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 40px;
  }
}

